## Step 1 - Creating pandas dataframe

In [1]:
import glob
import os
import pandas as pd
import re
import numpy as np

base_path_to_csv = os.path.join(os.getcwd() + '/eltweets/*.csv')
csv_list = glob.glob(base_path_to_csv)

# index_col removes the duplicates
df_list = [pd.read_csv(csv, index_col='id') for csv in csv_list]
df = pd.concat(df_list)
# df.info()

## Step 2 - Data cleaning

In [3]:
df.drop_duplicates(inplace=True)
df['full_text'] = df['full_text'].astype('str')
df['created_at'] = pd.to_datetime(df['created_at'])
df['created_at'] = df['created_at'].dt.normalize()

df['full_text'] = df['full_text'].str.lower()
df = df[(df['full_text'].str.contains("bitcoin") | df['full_text'].str.contains("btc") | df['full_text'].str.contains("crypto"))]


remove_rt = lambda x: re.sub('RT @\w+: ', ' ', x)
rt = lambda x: re.sub('(@[A-Za-z0â€“9]+)|([^-9A-Za-z \t])|(\w+:\/\/\S+)', ' ', x)
df['full_text'] = df['full_text'].map(remove_rt).map(rt)
df['full_text'] = df['full_text'].str.strip()
df['full_text'] = df['full_text'].replace('', np.NaN)
df.dropna(inplace=True)

df.head()

,created_at,full_text,retweet_count
id,,,
1404132183254523905,2021-06-13 00:00:00+00:00,this is inaccurate tesla only sold of ho...,11062
1400620080090730501,2021-06-04 00:00:00+00:00,bitcoin,22896
1396914548167233537,2021-05-24 00:00:00+00:00,spoke with north american bitcoin miners they...,39327
1396049547680391168,2021-05-22 00:00:00+00:00,the true battle is between fiat amp crypto ...,12921
1395472799020421120,2021-05-20 00:00:00+00:00,bitcoin hashing aka mining energy usage is s...,891